@media only screen and (min-aspect-radio: 16/9) {
    .background {
      width: 100%;
      height: auto;
    }
  }
  
  @media only screen and (max-aspect-radio: 16/9) {
    .background {
      width: auto;
      height: 100%;
    }
  }
  
  @media only screen and (max-width: 720px) {
    .content__image h2 {
      max-width: 500px;
      margin: auto;
    }
    .content__image h2::after {
      width: 150px;
      bottom: -15px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .content__image h2 {
      font-size: 3em;
      max-width: 400px;
    }
    .content__image h2 {
      margin-bottom: 10px;
    }
    .content__image h2::after {
      width: 150px;
      bottom: -25px;
    }
  }
  
  @media only screen and (max-width: 340px) {
    .content-image h2 {
      font-size: 2.5em;
    }
  }
  
  @media only screen and (max-width: 992px) and (orientation: landscape) {
    .hero {
      height: 60vw;
    }
  }
  
  @media only screen and (max-width: 640px) and (orientation: landscape) {
    .hero {
      height: 69vw;
      margin-bottom: 35em;
    }
  }
  
  @media only screen and (max-width: 576px) and (orientation: landscape) {
    .hero {
      height: 90vw;
    }
  }
  
  @media only screen and (max-width: 655px) and (orientation: landscape) {
    .about__us {
      height: 20vh;
    }
    .about__us .content {
      margin-top: 60px;
    }
  }
  
  @media only screen and (max-width: 640px) and (orientation: landscape) {
    .about__us {
      margin-bottom: 30em;
      margin-top: -5em;
    }
  }
  
  /* @media screen and (max-width: 1180px){
    .about__us{
      width: 100%;
      height: auto;
      padding: 50px 0;
      margin-top: -2em;
      margin-bottom: 0;
    }
    .text__box p{
      font-size: 30px;
      line-height: 40px;
    }
  } */
  
  @media only screen and (max-width: 992px) {
    header nav .logo {
      max-width: 100%;
      height: auto;
    }
    .text__box p {
      font-size: 1.75em;
      line-height: 1.5;
    }
  }
  
  @media (min-width: 769px) {
    .switch {
      position: relative;
      top: .25rem;
      right: 30px;
      width: 47px;
      z-index: 1;
    }
  }
  
  @media only screen and (max-width: 768px) {
    header nav {
      display: block;
      width: 100%;
      text-align: center;
      padding-top: 25px;
      margin-top: -0.6px;
      transition: .3s ease-in-out;
    }
    header .logo img {
      transform: translate(-90%, 0);
    }
    header nav .logo{
      display: flex;
      justify-content: center;
    }
    header nav .logo h1 span{
      margin-left: 36px;
    }
    header .navigation-bar {
      position: fixed;
      top: 0;
      left: -174px;
      height: 100%;
      overflow: hidden;
      z-index: 20;
      padding: 40px;
    }
    header .navigation-bar ul {
      display: block;
      padding-top: 40px;
    }
    header .navigation-bar ul li {
      text-align: center;
      padding: 14px 0;
    }
    header .navigation-bar .navigation_link .navlinks {
      flex: 1;
      padding: 0 10px;
      display: block;
    }
    header .navigation-bar .navigation_link .border {
      border-right: none;
    }
    header nav .toggle {
      display: block;
    }
    header nav .toggle.active {
      top: 50%;
    }
    header .navigation-bar .switch {
      top: -17.9em; /* -3.2rem */ /* -6.8rem | (Com o tradutor) -7.95rem */
      right: 0;
    }
    /* header .navigation-bar .switch-light, .switch-dark {
      top: -8.9em;
    }
    header .navigation-bar .switch-dark {
      top: -8.9em;
    } */
    header .navigation-bar .navigation_link {
      display: block;
      padding-top: 40px;
    }
    header .navigation-bar .navigation_link .navlinks {
      text-align: left;
      padding: 14px 0;
    }
    .about__us .content img {
      margin-bottom: 3%;
    }
    .text__box h1 {
      font-size: 40px;
      margin-bottom: 25px;
      text-align: center;
    }
    .text__box p {
      font-size: 1.75em;
      line-height: 40px;
    }
    footer .text p {
      line-height: 27px;
      font-size: 17px;
    }
  }
  
  @media only screen and (max-width: 680px) {
    .card__container {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
    .card__container .card__item {
      margin-bottom: 15px;
    }
  }

  @media only screen and (max-width: 992px){
    .services__container{
      display: grid;
      place-items: center;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
      gap: 1rem;
    }
  }

  @media only screen and (max-width: 600px){
    .services__container{
      grid-template-columns: 1fr;
    }
  }
  
  @media only screen and (max-width: 600px) {
    header nav {
      display: block;
      width: 100%;
      top: 0;
      left: 0;
      text-align: center;
      padding-top: 25px;
      transition: 0.3s ease-in-out;
    }
    header .navigation-bar .navigation_link .navlinks {
      flex: 1;
      padding: 0 10px;
      display: block;
    }
    header nav .toggle {
      display: block;
    }
    header nav .toggle.active {
      top: 45%;
    }
    header .navigation-bar .switch {
      top: -18.7em; /* -4.1rem */ /* 7.55rem | (Com o tradutor) -8.74rem */
      right: 10px;
    }
    header .navigation-bar .navigation_link {
      display: block;
      padding-top: 50px;
    }
    header .navigation-bar .navigation_link .navlinks {
      text-align: left;
      padding: 14px 0;
    }
  }
  
  @media only screen and (max-width: 576px) {
    header {
      padding: 0.5px;
    }
    header nav .logo {
      display: flex;
      justify-content: center;
    }
    header .navigation-bar .switch {
      top: -17.52em; /* -2.75rem */ /* 6.45rem | (Com o tradutor) -7.60rem */
      right: -10px;
    }
    header nav .toggle.active {
      top: 45%;
      left: 38%;
    }
    header .navigation-bar.show {
      width: 48%;
      padding: 20px;
    }
  }
  
  @media only screen and (max-width: 535px) {
    .about__us .content img {
      margin-bottom: 3%;
    }
    .text__box h1 {
      font-size: 35px;
      margin-bottom: 25px;
    }
    .text__box p {
      font-size: 1.4rem;
    }
  }
  
  @media only screen and (max-width: 380px) {
    header nav .logo {
      font-size: 12px;
    }
    header .navigation-bar {
      height: 100%;
    }
    header nav .toggle.active {
      left: 40%; /*36%*/
    }
    header .navigation-bar.show {
      width: 55%; /*48%*/
      padding: 20px;
    }
    .text__box p {
      font-size: 1.35rem;
    }
  }
  
  @media only screen and (max-width: 280px) {
    header nav .logo {
      font-size: 12px;
    }
    header nav .toggle.active {
      left: 40%;
    }
    header .navigation-bar.show {
      width: 60%;
      padding: 20px;
    }
  }

  @media only screen and (max-width: 1185px){
    .bg{
      max-width: 96%;
    }
  }

  @media only screen and (min-width: 48rem) {
    .banner-column {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      justify-content: center;
    }
  }
  
  @media only screen and (max-width:768px) {
    .banner-column-two {
      flex-direction: column;
      justify-content: center;
    }
    .paragraph{
      font-size: clamp(1.2rem, 2vw, 11.125rem);
    }
    .paragraph-two{
      font-size: clamp(1.2rem, 2vw, 11.125rem);
    }
    .container {
      padding:1em .85rem 1em;
    }
    .container-two {
      max-width: 75rem;
      padding: 0 0.25rem;
    }
  }

  @media only screen and (max-width: 767px){
    :is(.paragraph){
      text-align: left;
      margin: auto;
      margin-right: 30px;
    }
    :is(.heading-xl-two, .paragraph-two){
      text-align: center;
      margin: auto;
    }
  }
  
  @media only screen and (min-width: 64rem) {
    .banner-column {
      grid-template-columns: 1fr max-content;
      column-gap: 4rem;
      margin-top: 3rem;
    }
    .banner-column-two {
      grid-template-columns: 1fr max-content;
      column-gap: 2rem;
      margin-top: 3rem;
    }
  }
  
  @media only screen and (max-width: 1024px){
    .heading-xl-two{
      font-size: clamp(2.20rem, 3vw, 4.241rem);
    }
  }
  
  @media only screen and (min-width: 48rem) {
    .banner-image {
      order: 1;
      max-width: 22rem;
      height: auto;
    }
    .banner-image-two {
      order: 0;
      max-width: 22rem;
      height: auto;
    }
  }
  
  @media only screen and (min-width: 64rem) {
    .banner-image {
      max-width: 30rem;
      height: auto;
    }
    .banner-image-two {
      max-width: 25rem;
      height: auto;
    }
  }

  @media only screen and (max-width: 850px){
    .heading-xl{
      font-size: clamp(2.248rem, 2vw, 4.241rem);
    }
    .paragraph{
      max-width: 350px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .banner-inner{
      order: 0;
    }
    .banner-image {
      order: 1;
      max-width: 22rem;
      height: auto;
    }
    .banner-image-two {
      max-width: 22rem;
      height: auto;
    }
    .paragraph{
      max-width: 100%;
    }
  }

  @media only screen and (max-width: 435px){
    .banner-image{
      max-width: 22em;
    }
  }
  
  @media only screen and (max-width: 535px){
    .paragraph{
      font-size: clamp(1.2rem, 3vw, 11.125rem);
    }
    .paragraph-two{
      font-size: clamp(1.2rem, 3vw, 11.125rem);
    }
  }
  
  @media only screen and (max-width: 380px) {
    .heading-xl{
      font-size: clamp(2.248rem, 2vw, 4.241rem);
    }
    .heading-xl-two{
      font-size: clamp(2.248rem, 2vw, 4.241rem);
    }
    .paragraph{
      font-size: clamp(1.2rem, 5vw, 11.125rem);
    }
    .paragraph-two{
      font-size: clamp(1rem, 6vw, 11.125rem);
    }
    .banner-image{
      max-width: 18em;
    }
    .banner-image-two{
      max-width: 15em;
    }
  }
  
  @media only screen and (max-width: 280px) {
    .banner-image{
      max-width: 15rem;
    }
    .banner-image-two{
      max-width: 15rem;
    }
  }

  @media only screen and (max-width: 1185px ) {
    .slider__container{
      max-width: calc(80% - 20px);
    }
    .slider__container .slider__box{
      max-width: calc(500px - 20px);
    }
  }

  @media screen and (max-width: 992px){
    .slider__container{
      max-width: calc(100% - 20px);
    }
    .slider__container .slider__box{
      max-width: calc(400px - 20px);
    }
  }

  @media screen and (max-width: 767px){
    .slider__container{
      display: flex;
      max-width: calc(100% - 20px);
    }
    .slider__container .slider__box{
      max-width: calc(100% - 20px);
    }
    .slider .container-images{
      max-width: calc(500px - 20px);
    }
  }


  @media screen and (max-width: 600px){
    .heading-xl{
      font-size: clamp(1.748rem, 2vw, 4.241rem);
    }
    .slider__container .slider__box{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
    .slider .container-images{
      max-width: calc(400px - 30px);
    }
  }

  @media screen and (max-width: 480px){
    .slider .container-images{
      max-width: calc(360px - 30px);
    }
  }

  @media screen and (max-width: 400px){
    .slider .container-images{
      max-width: calc(350px - 30px);
    }
  }

  @media screen and (max-width: 380px){
    .slider .container-images{
      max-width: calc(315px - 30px);
    }
  }

  @media screen and (max-width: 320px){
    .heading-xl{
      font-size: clamp(1.548rem, 2vw, 4.241rem);
    }
    .slider .container-images{
      max-width: calc(290px - 50px);
      display: flex;
    }
  }

  @media screen and (max-width: 280px){
    .slider .container-images{
      max-width: calc(260px - 50px);
    }
  }

  @media screen and (max-width: 1225px){
    .product__container .product{
      width: 95%;
    }
    .combos__container .combos{
      width: 95%;
    }
  }

  @media screen and (max-width: 992px){
    .product__container .product{
      grid-template-columns: 1fr 1fr;
    }
    .product__item .image__product{
      width: 260px;
    }
    .product__item .image__product{
      width: 260px;
    }
    .product__content p{
      max-width: 250px;
      margin: auto;
    }
    .combos__container .combos{
      grid-template-columns: 1fr 1fr;
    }
    .combos__item .image__combo{
      width: 250px;
    }
  }

  @media screen and (max-width: 600px){
    .title__product{
      font-size: 30px;
    }
    .heading__combos{
      font-size: 30px;
    }
    .product__container .product{
      grid-template-columns: 1fr;
      width: 100%;
    }
    .product .product__item{
      margin-bottom: 1.5em;
    }
    .product__item .image__product{
      width: 280px;
    }
    .product .product__content{
      bottom: 1.1em;
      right: 0;
      border-radius: 0 0 6px 6px;
    }
    .product .image__combo img{
      border-radius: 6px 6px 0px 0px;
    }
    .combos__container .combos{
      grid-template-columns: 1fr;
      width: 90%;
    }
    .combos .combos__item{
      margin-bottom: 1.5em;
    }
    /* .combos .content__combo{
      bottom: 1.1em;
      right: 0;
      border-radius: 0 0 6px 6px;
    }
    .combos .image__combo img{
      border-radius: 6px 6px 0px 0px;
    } */
  }

  @media screen and (max-width: 320px){
    .title__product{
      width: 90%;
    }
    .heading__combos{
      width: 90%;
    }
    .product__item .image__product{
      width: 250px;
    }
    .product__content h2{
      font-size: 22px;
    }
    .product__content p{
      font-size: 16px;
    }
  }
  
  @media only screen and (max-width: 417px){
    .title__product h2{
      font-size: 28px;
    }
    .heading__combos h2{
      font-size: 28px;
    }
  }

  @media screen and (max-width: 380px){
    .title__product{
      font-size: 25px;
    }
    .heading__combos{
      font-size: 25px;
    }
  }


  @media screen and (max-width: 1040px){
    .offset__container .offset__card{
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 992px){
    .offset__container{
      max-width: var(--max-width);
      width: var(--width-992);
    }
    .offset__container .offset__card{
      grid-template-columns: 1fr 1fr;
    }
    .offset__item .offset__image img{
      opacity: 1;
    }
  }

  @media screen and (max-width: 600px){
    .offset__container{
      max-width: var(--max-width);
      width: var(--width-600);
    }
    .offset__container .offset__card{
      grid-template-columns: 1fr;
    }
  }

  @media only screen and (max-width: 1060px) {
    .testimonial__box {
      width: 45%;
      padding: 10px;
    }
  }

  @media only screen and (max-width: 790px) {
    .testimonial__box {
      width: 100%;
    }
    .testimonial__heading h1 {
      font-size: 1.4rem;
    }
    .testimonial__heading  span{
      font-size: 30px;
    }
  }

  @media only screen and (max-width: 417px){
    .testimonial__heading  span{
      font-size: 28px;
    }
  }
  
  @media only screen and (max-width: 340px) {
    .box-top {
      flex-wrap: wrap;
      margin-bottom: 10px;
    }
    .reviews {
      margin-top: 10px;
    }
  }

  @media screen and (max-width: 800px){
    .cookies__container{
      bottom: -200%;
    }
    .cookies__text{
        display: flex;
        flex-direction: column;
    }
    .cookies__text p{
        margin-bottom: 20px;
        font-size: .8em;
    }
    .cookies__container .buttons{
        margin-left: 0;
        width: 100%;
    }
    .cookies__container .buttons .button{
        width: 100%;
    }
}

@media screen and (orientation: landscape){
    .cookies__container{
      bottom: -115%;
    }
}