@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

:root{
  --grid-gap: 32px;
  --gap: 16px;
  --max-width: max-content;
  --width: 45em;
  --width-992: 45em;
  --width-600: 18em;
  /* --max-width-992: 85vw;
  --max-width-600: 80vw; */
}

:root {
  --font-system: system-ui;
  --logo: "Tilt Neon", sans-serif;
  --bg-footer: url("/src/assets/logo/footer/bg-footer.jpg");
  
  --background: #fff;
  --nav-color: #FEFCF3;
  --navlinks: #000;
  --menu: #2f3134;
  --navigation-bar: #ffff;
  --navigation-underline: #000;
  --navigation-bar-underline: #f7291a;
  --navigation-border: #333;
  --navigation-bar-navlinks: #f7291a;
  --switch-color: #000;
  --about-title: #ff8e15;
  --about-paragraph: #333;
  --about-textImg-heading: #432d2f;
  --about-textImg-paragraph: #0c0a0b;
  --about-description-img: #333;
  --heading-xl-section: #ed460fe2;
  --heading-xl-two-section: #f74336;
  --paragraph-section: #333;
  --arrow-color: #111315;
  --offset-card-item-bg: #fff;
  --offset-card-item-color: #000;
  --gallery--content-combos-bg: #fff;
  --heading-combos-color: #202020;
  --description-combos-color: #444;
  --cta-combos-color: #666;
  --cta-hover-combos-color: #111;
  --card-title: #e03f05;
  --card-description: #797979;
  --service: #fff;
  --service-heading: #333;
  --service-paragraph: #666;
  --testimonials-title: #000;
  --testimonials-box: #fff;
  --testimonials-name-primary: #3d3d3d;
  --testimonials-name-secondary: #979797;
  --testimonials-text-client: #4b4b4b;
}
body.darkmode {
  --background: #000;
  --nav-color: #0c0c0c;
  --logo-color: #f5f5f5;
  --navlinks: #f5f5f5;
  --menu: #f5f5f5;
  --navigation-bar: #111;
  --navigation-underline: #f5f5f5;
  --navigation-bar-underline: #f5f5f5;
  --navigation-border: #f5f5f5;
  --navigation-bar-navlinks: #f5f5f5;
  --switch-color: #f5f5f5;
  --about-title: #e1e1e1;
  --about-paragraph: #e1e1e1;
  --about-textImg-heading: #e1e1e1;
  --about-textImg-paragraph: #e1e1e1;
  --about-description-img: #b3b3b3;
  --heading-xl-section: #e1e1e1;
  --heading-xl-two-section: #e1e1e1;
  --paragraph-section: #e1e1e1;
  --offset-card-item-bg: rgba(25, 25, 25, 0.9);
  --offset-card-item-color: #d2d2d2;
  --gallery--content-combos-bg: rgba(37, 37, 37, 0.9);
  --gallery--content-combos-color: #e3e3e3;
  --heading-combos-color: #e3e3e3;
  --description-combos-color: #e3e3e3;
  --cta-combos-color: #e3e3e3;
  --cta-hover-combos-color: #9d9d9d;
  --card-title: #e1e1e1;
  --card-description: #b3b3b3;
  --service: #191919e6;
  --service-heading: #e1e1e1;
  --service-paragraph: #b3b3b3;
  --testimonials-title: #d2d2d2;
  --testimonials-box: rgba(25, 25, 25, 0.9);
  --testimonials-name-primary: #d2d2d2;
  --testimonials-name-secondary: #d2d2d2;
  --testimonials-text-client: #d2d2d2;
}

@keyframes fade-in{
  5%{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  90%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes load{
  to{
    transform: scaleX(1);
  }
}

@-webkit-keyframes fade-in{
  5%{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  90%{
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes load{
  to{
    transform: scaleX(1);
  }
}

@-moz-keyframes fade-in{
  5%{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  90%{
    opacity: 1;
    transform: translateY(0);
  }
}

@-moz-keyframes load{
  to{
    transform: scaleX(1);
  }
}

@-o-keyframes fade-in{
  5%{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  90%{
    opacity: 1;
    transform: translateY(0);
  }
}

@-o-keyframes load{
  to{
    transform: scaleX(1);
  }
}

@-ms-keyframes fade-in{
  5%{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  90%{
    opacity: 1;
    transform: translateY(0);
  }
}

@-ms-keyframes load{
  to{
    transform: scaleX(1);
  }
}

@keyframes show {
  0% {
    opacity: 0;
    translate: -50px 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
    translate: -50px 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes show {
  0% {
    opacity: 0;
    translate: -50px 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes show {
  0% {
    opacity: 0;
    translate: -50px 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes show {
  0% {
    opacity: 0;
    translate: -50px 0;
  }
  100% {
    opacity: 1;
  }
}